body {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	height: 100%;
}

.titlebar {
	background-color: #DDEEFF;
	border-bottom: 1px solid black;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	font-weight: bold;
	font-variant: small-caps;
}

.titlebar h4 {
	margin: 0px;
	padding: 0px;
	margin-right: 3em;
	font-size: 36pt;
	outline: grey solid thin;
	display: inline;
}

.content {
	margin: 1em;
}

input[type="text"] {
	border: 1px inset black;
	background-color: lightyellow;
}

.section {
	padding: .1em;
	background-color: #DDE4FF;
	border: 1px solid darkblue;
	border-left: 1px solid darkblue;
	margin-bottom: 1em;
}
