html,body {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	background-color: #FFFFF8;
}

.titlebar {
	background-color: #DDEEFF;
	border-bottom: 1px solid black;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	font-weight: bold;
	font-variant: small-caps;
}

.titlebar h4 {
	margin: 0px;
	padding: 0px;
	margin-right: 3em;
	font-size: 36pt;
	display: inline;
}

.content {
	margin: 1em;
}

input[type="text"] {
	border: 1px inset black;
	background-color: lightyellow;
}

#streamlist table tr th {
	text-align: left;
	font-variant: small-caps;
	padding-left: 4px;
	padding-right: 3px;
}

#streamlist table tr td {
	padding: 1px;
	padding-left: 3px;
}

#streamlist table tr:first-child {
	background-color: #E8E8E8;
	border-bottom: 1px solid black;
}

#streamlist table tr td {
	cursor: pointer;
}

#streamlist table td,th {
	border-left: 1px solid black;
}

#streamlist table td:first-child,th:first-child {
	border-left: 0px !important;
}

#streamlist table tr th {
	background-color: #E8E8E8;
	border-bottom: 1px solid black;
}

#streamlist table tr.even {
	background-color: #E8E8EF;
}

#streamlist table tr.odd {
	background-color: #D8D8DF;
}

#streamlist table tr:hover {
	background-color: #E8BABA  !important;
}

.pane {
	width: 100%;
}

.pane > * {
	margin: 1em;
	border: 1px solid black;
}

#debug {
	border-top: 1px solid black;
	background-color: lightgrey;
	position: absolute;
	bottom: 0;
	height: 8em;
	overflow: auto;
	width: 100%;
	padding-top: .5em;
	font-size: smaller;
}

#debug > * {
	padding-left: .5em;
	padding-right: .5em;
}

#streamcontrol_pane .stream-title {
	font-weight: bold;
	font-variant: small-caps;
	background-color: #DEDEEF;
	border-bottom: 1px solid grey;
	padding-left: .5em;
	padding-right: .5em;
}

.menu {
	float: right;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #D0D8EF;
	font-size: 1.5em;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.menu > a {
	padding-left: .5em;
	padding-right: .5em;
	font-size: 1em;
	text-decoration: none;
}

.menu > a:hover {
	background-color: #FFFFF8;
}

#search_pane {
	font-size: small;
	cursor: pointer;
}

#search_pane tr th {
	border-bottom: 1px solid black;
	background-color: lightgrey;
}

#search_pane tr > *:first-child {
	border-right: 1px solid black;
}

.searchresult {
	padding: 0px;
	margin: 0px;
}

.searchresult:hover {
	background-color: #CACAB8 !important;
	color: darkblue;
}

.searchresults_resultspane {
	overflow: auto;
	height: 30em;
}

.searchresults_enqueuepane {
	overflow: auto;
	height: 30em;
}

.search_clicktoenqueue {
	margin: 1em;
	padding: .3em;
	font-weight: bold;
	background-color: lightgreen;
	border: 1px outset black;
	text-align: center;
}

#searchbar {
	display: none;
}
