<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Welcome to Pimp - watch out for the backhand.</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css" />

	<script src="/static/ajam.js" type="text/javascript" />
	<script src="/static/effects.js" type="text/javascript" />
	<!--<script src="/static/js/behaviour.js" type="text/javascript" />-->
	<script src="/static/js/accelimation.js" type="text/javascript" />
	<script src="/static/DP_Debug.js" type="text/javascript" />

	<script src="/static/stream.js" type="text/javascript" />
	<script src="/static/pimp.js" type="text/javascript" />
</head>
<body>
	<div class="titlebar">
		<h4>Pimp 4.0</h4>
		<img src="/static/images/pimp-home.png" id="button_home" style="display:none" title="Show the streamlist page"/>
		<img src="/static/images/debug.png" id="button_debug" style="display:none" title="Toggle debugging. GET IT. LINUX == BUG. AHAHAHAHA I FUNNY"/>
	</div>
	<div id="searchbar">
		<div align="right">
			Search for music:
			<input id="query" type="text" size="35" />
			<input type="submit" id="search" value="Search!" />
		</div>
	</div>

	<div class="content" id="container">
		<div id="streamlist_pane" class="pane">
			<div class="section">
				<div id="streamlist" style="padding:0px !important">
					<table id="streamlist_table" cellspacing="0" cellpadding="0">
						<tr>
							<th style="width:10em" nowrap="1"> Stream Name </th>
							<th width="100%"> Current Song </th>
							<th> Clients </th>
						</tr>
						<tr id="_streamentry">
							<td id="_streamname" />
							<td id="_currentsong" />
							<td id="_clients" />
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div id="debug"/>
</body>
</html>
